<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>336542212118-9n9k50qjfmqcoj8g0jamaialjc76f5sq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336542212118-9n9k50qjfmqcoj8g0jamaialjc76f5sq</string>
	<key>API_KEY</key>
	<string>AIzaSyD5RXDI4T1r6MNYqEXtnqNatnQ4BaoKYxU</string>
	<key>GCM_SENDER_ID</key>
	<string>336542212118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail-guzlan.amro.RideShare</string>
	<key>PROJECT_ID</key>
	<string>rideshare-fbba3</string>
	<key>STORAGE_BUCKET</key>
	<string>rideshare-fbba3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:336542212118:ios:c869262023ba6e34</string>
	<key>DATABASE_URL</key>
	<string>https://rideshare-fbba3.firebaseio.com</string>
</dict>
</plist>